@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Telefone: (11)98478-9551</strong> <br/>
    <strong>Suporte:</strong> <a href="mailto:ryan.lima@outlook.com">Email</a><br />
</address>
